body{
    margin:0;
    padding: 0;
}
header{
    padding: 30px;
    background: #333;
    color: #ffff;
    font-weight: bold;
    text-transform:uppercase ;
}
.menu{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #e8eef3;
}
.centro{
    grid-column: 2;
}
.centro a{
    text-align: center;
    text-decoration: none;
    padding: 0;
    color: black;
}
.centro a:hover{
    background-color: #555;
}