html{
    font-family: sans-serif;
}
body{
    margin:0;
}
header{
    background: pink;
    height: 100px;
}
h1{
    text-align: center;
    color: purple;
    line-height: 100px;
    margin:0;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
section{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex wrap hay que añadirle una regla donde haya un tamaño específico para un contenedor flexible */
    /* tanto flex column-reverse como row-reverse toman la columna o la fila las últimas y las ponen. Invierten el sentido */
}
article{
    padding: 10px;
    margin: 10px;
    color: blueviolet;
    background: aqua;
    flex: 200px;
}